<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>关于我们</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/layout.debug.css">
</head>
<body style="background-color: #FCFCFC">
<img class="page-bg" src="__PUBLIC__/images/about-bg.jpg" alt="">
<div class="about-section">
    <section>
        “中德供求”是德中经济文化促进协会在德国和中国之间运作的经济文化交流品牌，致力于为德中两国经济文化活动提供一个信息交流和整合的平台，涵盖了德中两国的商品贸易、劳务合作、技术交流、投资移民、教育文化交流、商务考察和旅游等信息资讯。德中经济文化促进协会总部位于德国慕尼黑，目前协会与德国和中国众多企业、律师事务所、会计师事务所、各类协会、工作室及创业团队等进行合作，积累了较为丰富的两国资源，能够及时掌握和发布德中各类信息动态。在中国国内，协会授权勃朗峰文化咨询有限公司承接“中德供求”项目在国内的运营，协调协会在国内的一切事务。 协会在努力改善两国经济文化信息交流便利程度的同
        时，更加注重提升两国信息内容的质量，挖掘和提供更具价值的两国信息，并且
        积极帮助德中企业或个人解决双方间的各种商务及交流问题，真正让所有参与平
        台的两国企业和个人收益。“中德供求”团队诚挚邀请有志加入我们平台的企业
        和个人客户与我们联系，我们将为您提供专属的企业和个人页面，为您的产品或
        项目提供宣传。
    </section>
</div>
<div class="about-concat">
    <div class="classify-title">联系方式</div>
    <div class="about-concat-item">
        <h3>
            中国客服电话<span class="f-r">400-676-6658</span>
        </h3>
        <p>（工作日9:00—18:00,节假日10:00—17:00）</p>
    </div>
    <div class="about-concat-item service-item">
        <h3>
            客服邮箱<span class="f-r">service@cdkwv.org</span>
        </h3>
    </div>
    <div class="about-concat-item clear">
        <h3 class="f-l" style="padding-top: 0.28125rem;">
            识别图中二维码<br>
            添加客服微信号<br>
            <span style="font-size: 18px;">(添加时请注明来意)</span>
        </h3>
        <div class="f-r">
            <img style="width: 3.09375rem;height: 3.09375rem" src="__PUBLIC__/images/erweima.jpg" alt="">
        </div>
    </div>
</div>
</body>
</html>