<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>我要发布</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/layout.debug.css">
</head>
<body style="background-color: #FCFCFC">
<img class="page-bg" src="__PUBLIC__/images/issue-bg.jpg" alt="">
<div class="about-section">
    <section>
        尊敬的客户您好！如果您也有中德两国的供求信息想在本平台发布推广，请与我们联系，我们将为您提供专属的企业或个人页面，为您的产品或项目宣传对接。
    </section>
</div>
<div class="about-concat">
    <div class="classify-title">联系方式</div>
    <div class="about-concat-item">
        <h3>
            中国客服电话<span class="f-r">400-676-6658</span>
        </h3>
        <p>（工作日9:00—18:00,节假日10:00—17:00）</p>
    </div>
    <div class="about-concat-item service-item">
        <h3>
            客服邮箱<span class="f-r">service@cdkwv.org</span>
        </h3>
    </div>
    <div class="about-concat-item clear">
        <h3 class="f-l" style="padding-top: 0.28125rem;">
            识别图中二维码<br>
            添加客服微信号<br>
            <span style="font-size: 18px;">(添加时请注明来意)</span>
        </h3>
        <div class="f-r">
            <img style="width: 3.09375rem;height: 3.09375rem" src="__PUBLIC__/images/erweima.jpg" alt="">
        </div>
    </div>
</div>
</body>
</html>