<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>德中资讯</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/layout.debug.css">
</head>
<body style="background:url('__PUBLIC__/images/repeat-bg.jpg') repeat;height: 100vh;background-size: contain">
<div class="guide-wrap">
    <div class="germany-info">
        <img class="vw100" src="__PUBLIC__/images/germany-info-bg2.png" alt="德国资讯背景">
        <a class="link" href="{:url('germany/getList',array('country'=>'德国'))}">
            <img src="__PUBLIC__/images/germany-info-link.png" alt="德国资讯链接">
        </a>
    </div>
    <div class="china-info">
        <img class="vw100" src="__PUBLIC__/images/china-info-bg.png" alt="中国资讯背景">
        <a class="link" href="{:url('germany/getList',array('country'=>'中国'))}">
            <img src="__PUBLIC__/images/china-info-link.png" alt="中国资讯链接">
        </a>
    </div>
    <div class="release">
        <img class="vw100" src="__PUBLIC__/images/release-bg.png" alt="发布背景">
        <div class="content">
            <h3>我有优质资源或需求</h3>
            <a href="{:url('fabu')}" class="button">
                <img src="__PUBLIC__/images/guide-icon.png" alt="">
                <button>我要发布</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>