<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>合作企业详情</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/layout.debug.css">
</head>
<body>
<div class="article-title-wrap companion-article-title-wrap">
    <h1 class="article-title">{$data['title']}</h1>
</div>
<section class="companion-section">
    <p>
        {$data['content']}
    </p>
</section>
</body>
</html>